label {
  display: block;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.buttons input[type="submit"],
.buttons input[type="reset"] {
  display: inline;
  color: white;
  width: 100px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: black;
}

input[type="reset"] {
  background-color: red;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #5645a0;
  transform: translateX(10px) translateY(5px);
}

input:invalid,
select:invalid {
  border-color: darkgoldenrod;
}

h3 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 160px) {
  form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }

}